@font-face {
    font-family: 'Noto Nastaliq Urdu';
    src: url('../fonts/NotoNastaliqUrdu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jameel Noori Nastaleeq Kasheeda';
    src: url('../fonts/JameelNooriNastaleeqKasheeda.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.urduheader1 {
    font-family: 'Jameel Noori Nastaleeq Kasheeda', serif;
    direction: rtl;
    text-align: center;
    font-size: 5.0em;
    line-height: 1.0;
    margin: 0em 0;
}

.urduheader2 {
    font-family: 'Jameel Noori Nastaleeq Kasheeda',serif;
    direction: rtl;
    text-align: center;
    font-size: 4em;
    line-height: 1.5;
    margin: 0.2em 0;
}

.urdubody {
    font-family: 'Noto Nastaliq Urdu', serif;
    direction: rtl;
    text-align: center;
    font-size: 2.5em;
    line-height: 2.0;
    margin: 0.2em 0;
}